<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <h3 class="display-5">Demo inheritance entity</h3>
        <hr>
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}" crossorigin="anonymous"></script>
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}" ></script>
        {% endblock %}
    </body>
</html>
